
.jumbotron {
    /*margin: inherit;*/
}

.container-fluid {


}


h1 {
    /*http://localhost:63342/codeup-web-exercises/img/pizza.png?_ijt=pjmdm7ng3hnr9quv69663om6dq*/
    /*text-align: center;*/
    /*opacity: .5;*/

}

 i {
     width: 1px;
     height: 1px;
     color: #f3efef;
 }

 #shop-cart{
     width: 0.2px;
     height: 0.2px;
     color: #f3efef;
 }

/*img {*/
/*    width: 5px;*/
/*    height: 5px;*/
/*}*/

/*input [type="radio"] {*/
/*    text-indent: 50px;*/
/*}*/

/*label {*/
/*    padding-right: 20px;*/
/*}*/


