/*
multi
line
comment
*/

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

h1 {
    text-align: center;
}

h2 {
    color: crimson;
    text-decoration: underline;
}

body {
    background-color: #87f3ff
}

body {
    background-image: url("https://images.pexels.com/photos/1824169/pexels-photo-1824169.jpeg?cs=srgb&dl=pexels-marcos-araujo-1824169.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-attachment: fixed;
    background-position: center;

}

ul{
    list-style: circle;
}

body{
    font-style: italic;
}

table {
    font-style: oblique;
}